<nav id="pagination" class="inner">
    <% if (page.prev) { %>
    <a href="<%=url_for(page.prev_link)%>" class="prev">&larr; Prev</a>
    <% } else { %>
    <a class="prev disabled">&larr; Prev<%=page.prev_link%></a>
    <% } %>

    <% if (page.next_link) { %>
    <a href="<%=url_for(page.next_link)%>" class="next">Next &rarr;</a>
    <% } else if (page.next && page.next.path) { %>
    <a href="<%=url_for(page.next.path)%>" class="next">Next &rarr;</a>
    <% } else { %>
    <a class="next disabled">Next &rarr;</a>
    <% } %>
</nav>
